.checkReservation-search{
    background-color: white;
    height: 10%;
}
.checkReservation-body{
    background-color: skyblue;
    border: 1px solid blue;
    width: 100%;
    height: 440px;
    text-align: center;
}