.facilitySeat-container{
    border: 1px solid white;
    background-color: #FAF7F0;
    padding: 5%;
    position: relative;
    margin-top: -7%;
}

.facility-seat-name-input-css{
    width: 50%;
    margin-bottom: 5%;
}

.facility-seat-add{
    float: right;
}

.seat-container{
    margin-bottom: 2%;
    display: inline-block;
}
.facility-seat-list{
    margin-left: 15%;
}