.facilitySeat-container{
    border: 1px solid white;
    background-color: #FAF7F0;
    position: relative;
    margin-top: -7%;
}

.facility-seat-header{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.facility-seat-header-name{
    width: 90%;
}

.back-button{
    height: 80%;
}

.facility-seat-contents{
    margin-top: 2rem;
    margin-left : 2rem;
}

.facility-seat-manage{
    margin: 0 auto;
}

.facility-seat-content-body{
    margin: 2rem;
}

.facility-seat-add-body{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.facility-seat-name-input-css{
    width: 40%;
    margin-right: 10%;
}

.facility-seat-add{
    /*float: right;*/
}

.seat-container{
    margin-bottom: 2%;
    display: inline-block;
}
.facility-seat-list{
    margin-top: 3rem;
}

.facility-seat-list-ul{
    padding-left: 0px;
}

.facility-seat-ul{
    padding-left: 0px;
}

.seat-manage-header{
    display: flex;
    text-align: center;
}

.seat-manage-header-name{
    width: 200px;

}

.seat-manage-header-status{
    width: 160px;


}

.seat-manage-header-save{
    width: 74px;

}

.seat-manage-header-delete{
    width: 74px;
    margin: 0 20% 0 0;
}