.percent-container{
    height: auto;
    /*width: auto;*/
}

/*.scroll-div{*/
/*    scroll-behavior: smooth;*/
/*}*/

.progress-wrapper{
    padding-left: 8%;
    padding-right: 8%;
}
.percent{
    padding-left: 5%;
    padding-right: 5%;
}
.percentTop{
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom: 3%;
}

.percent{
    margin-bottom: 3%;
}

.profile-current-reservation{
    margin: 0 auto;
    width: 88%;
    height: 90%;
}

.profile-reservation-list{
    margin: 0 auto;
    width: 88%;
    height: 90%;
}

.res-li{
    height: 5rem;
    border-bottom: 1px solid #172b4d;
}

.res-li:last-child{
    height: 5rem;
    border-bottom: none;
}

.res-li-contents{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}