.delete-btn{
    background-color: red;
    color : white;
    font-weight: bold;
}
.basic-btn{
    color : white;
    font-weight: bold;
    background-color: #1E90FF;
}
.basicBig-btn{
    margin-left: 10px;
    color : white;
    font-size: 1rem;
    font-weight: bold;
    background-color: #1E90FF;
}
.basicBig-btns{
    color : white;
    font-size: 1rem;
    font-weight: bold;
    background-color: #1E90FF;
    margin-left:10px;
}
.ban-btn{
    color : white;
    font-weight: bold;
    background-color: #FFAB4C;
}
.clear-btn{
    color : white;
    font-weight: bold;
    background-color: #2dce89;
}