.test{
    background-color: #0c85d0;
    margin-top: -96px;
    position: relative;
    height: 900px;
    width: 1420px;
}
.reservation-main{
    background-color: greenyellow;
    height: 100%;
    text-align: center;
    display: flex;
}

.reservation-main-contents{
    background-color: burlywood;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.innerFacility-img{
    background-color: red;
    width: 100%;
    height: 45%;
}

.innerFacility-seat-time-list{
    background-color: #3d027b;
    height: 50%;
    width: 100%;
}

.innerFacility-seat ,.innerFacility-time{
    background-color: white;
}

.innerFacility-seat{

}

.innerFacility-time {

}

.innerFacility-select{
    background-color: orangered;
    width: 80%;
    margin: 0 auto;
}