li{
    list-style-type : none;
}
.dormitoryEdit-container {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
    width: 100%;
    height: 100%;
    background-color: #f4f5f7;
    box-shadow: 0px 0px 5px gray;
    margin-top: -6rem;
    position: relative;
    height: 1000px;
    width: 1420px;
}

.dormitory-name{
    margin-top: -30rem;
    /*margin-bottom: 2rem;*/
    font-weight: bold;
}

.dormitory-img {
    width: 300px;
    height:300px;
    object-fit:cover;
}
.dormitory-edit-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: center;*/
    width: 90%;
    height: 100%;
    margin: 2rem auto 0;
    /*background-color: black;*/
    overflow: auto;
}

.dormitory-edit-content-header{
    flex-direction: row;
}
.dormitory-edit-save{
    margin : 0rem 0.2rem;
}
.dormitory-create-innerFacility{
    display: inline-block;
    float : right;
    margin : 0.5rem;
}
.dormitory-edit-content-header>input{
    display: inline-flex;

}

.dormitory-img>img{
    width: 30%;
    height: 20%;
}

.dormitory-edit-content-body{
    width: 90%;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 5px gray;
    display: inline-block;
}

.dormitory-innerFacility-list{
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dormitory-innerFacility-list-ul{
    align-items:center;
    width: 95%;

}

.dormitory-innerFacility-list-li:nth-child(odd){
    background-color: #BCCEF8;
}
.dormitory-innerFacility-list-li:nth-child(even){
    background-color: #CDFCF6;
}

.dormitory-innerFacility-list-li{

    height: 8rem;
    margin-top: 1rem;
}
.dormitory-innerFacility-li{
    margin-top : 1rem;
}
.dp1{
    margin-right : 0.5rem;
}
.dormitory-innerFacility-button{
    margin : -0.5rem 1rem;
    float : right;
}
.dormitory-innerFacility-content{
    margin-top : -0.8rem;
    float : left;
}
.dormitory-name-input{
    margin-top : 1rem;
}