.dormitory-list{
    display: inline-block;
    width: 40%;
    height: 100%;
}
.container-button{
    display: inline-block;
    margin-bottom: 20%;
    width: 90%;
}

.button-dormitory{
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: xx-large;
}
.dormitory-input-container{
    margin-top: -7%;
    margin-bottom: 0%;
    text-align: center;
}
.dormitory-container{
    width: 40%;
    display: inline-block;
}
.dormitory-body{
    width: 100%;
}