.fac-box{
    width: 80%;
    display: flex;
    margin : 10px auto;
    padding : 15px;
}

.fac-card-body{
    display: flex;
}

.fac-img{
    margin-right: 40px;
    width: 40%;
    height: 40%;
}

.fac-info{
    width: 100%;
}

.fac-card-title{
    height: 20%;
}

.fac-card-text{
    height: 50%;
}

.fac-reserve-btn{
    float: right;
}

/*.fac-img{
    float:left;
    width: 60%;
}*/

.fac-img-detail{
    object-fit: fill;
}

.fac-left{
    margin : 0px 20px;
}
.fac-right{
    width: 100%;
    padding-left: 2%;
}

.fac-body{
    height: 50%;
}

.fac-content> ul{
    list-style: none;
}

.fac-content-detail{
    padding: 0%;
}

.facility-list-container{
    background-color : #f4f5f7;
    /*box-shadow: 0px 0px 5px gray;*/
    margin-top : -10rem;
    position:relative;
    padding: 2rem;
}
@media(max-width:400px){
    .facility-list-container{
        background-color : #f4f5f7;
        width: 390px;
        margin-top : -25%;
        position:relative;
    }
    .fac-box{
        display: flex;
        margin : 10px auto;
        padding : 15px;
        width: 100%;
    }
    .fac-right{
        width: 100%;
        padding: 0%;
    }
    .media-h1{
        font-size: xx-large;
    }
    .fac-reserve-btn{
        width: 250px;
    }
    .fac-reserve{
        text-align: center;
    }
    .fac-card-body{
        display: inline-block;
        text-align: center;
    }
    .fac-img{
        width: 100%;
        height: 100px;
    }
}