.modal-content{
    margin: 0 auto;
}

.notice-modal-title{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.facility-modal-body{
    width: 500px;
}

.facility-notice{
    height: 250px;
    overflow: auto;
}

.notice-modal-button{
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}