.innerFacility-prev{

}

.innerFacility-next{

}

.reservation-container{
    /*background: linear-gradient(80deg, whitesmoke, white);*/
    background-color: #f4f5f7;
    box-shadow: 0px 0px 5px gray;
    margin-top: -6rem;
    position: relative;
    height: 1000px;
    width: 1420px;
 }
.reservation-main{
    height: 100%;
    text-align: center;
    display: flex;
}

.reservation-main-contents{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.innerFacility-img{
    width: 100%;
    height: 45%;
    /*display: inline-flex;*/
    display: flex;
    align-items: center;
    /*flex-wrap: wrap;*/
}

.innerFacility-img>img{
    margin: 0 auto;
}

/*.innerFacility-img-break{*/
/*    flex-basis: 100%;*/
/*    height: 0%;*/
/*}*/

.innerFacility-seat-time-list{
    /*border: solid 1px #172b4d;*/
    /*box-shadow: 2px 2px 2px;*/
    /*background-color: #11cdef;*/
    margin-top: 2rem;
    height: 35%;
    width: 100%;
    overflow: auto;
    position: relative;
}

.innerFacility-seat-time-list:before{
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 100%;
    margin: 0;
    left : 15px;
    background-color: transparent;
    top: 0px;
    box-shadow: 0px 20px 40px #52616b;
    opacity: 0.2;
    z-index: -1;
    transition: ease-in-out 0.6s, all;
/*    ?? */
}

.innerFacility-seat-time-list:hover.innerFacility-seat-time-list:before{
    box-shadow: 0px 40px 90px #52616b;
}

.innerFacility-seat-time-list>ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 3px;
}

.reservation-time-title{
    padding: 20px;
    position: relative;
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
/*    0.8px? .5rem? */
    color: #52616b;
    transition: ease-in-out 0.2s, all;
    cursor: pointer;
}

.reservation-time-title:hover{
    padding-left: 25px;
}

.reservation-time-title:before, .reservation-time-title:after{
    content: '';
    position: absolute;
    height: 2px;
    border-radius: 50px;
    transition: ease-in-out 0.6s;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation-time-title:before{
    width: 100%;
    background-color: #c9d6df;
}

.reservation-time-title:after{
    background-image: linear-gradient(90deg, #52616b, #c9d6df);
    /* you should change color*/
    width: 0%;
}

.reservation-time-title:hover::after{
    width: 100%;
}

.accordionTitleActive:after{
    content: '';
    position: absolute;
    height: 2px;
    border-radius: 50px;
    transition: ease-in-out 0.6s;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordionTitleActive:after{
    background-image: linear-gradient(90deg, #52616b, #c9d6df);
    width: 100%;
}

.reservation-accIcon {
    float: right;
    width: 30px;
    height: 30px;
    display: flex;
    margin-top: -3px;
    align-items: center;
    justify-content: center;
}

.reservation-accIcon:before,
.reservation-accIcon:after {
    content:'';
    position: absolute;
    border-radius: 50px;
    background-color: #c9d6df;
    transition: ease 0.3s;
}

.reservation-accIcon:before {
    width: 2px;
    height: 20px;
}

.reservation-accIcon:after {
    width: 20px;
    height: 2px;
}

.accordionTitle:hover .reservation-accIcon:before,
.accordionTitle:hover .reservation-accIcon:after {
    background-color: #52616b;
}

.reservation-accIcon.anime.reservation-accIcon:before {
    transform: rotate(90deg);
}

.reservation-time-select .reservation-seat-select .seat-name{
    opacity: 0;
    height: 0;
    padding: 0px 20px;
    position: relative;
    line-height: 24px;
    font-size: 16px;
    font-width: 200px;
    transition: all 0.6s cubic-bezier(.42, .2, .08, 1);
    overflow: hidden;
    background-color: #f0f5f9;
    letter-spacing: 0.5px;
}

.reservation-time-select .reservation-seat-select .seat-name.show{
    opacity: 1;
    height: auto;
    padding: 25px 20px;
    position: relative;
    z-index: 0;
    border-radius: 0px 0px 3px 3px;
}

p.innerFacility-time-title{
    width: 100%;
    line-height: 60px;
    color: black;
    box-sizing: border-box;
    padding: 0 10px;
}

.reservation-seat{
    padding: 20px;
    display: none;
}

li.reservation-seat-select{
    display: block;
}

.innerFacility-seat-time-list>.reservation-time-select{
    height:15%;
    color: black;
    margin-bottom: 5px;
    box-shadow: 0px 0px 5px gray;
}

.innerFacility-seat-time-list>.reservation-time-select>.reservation-seat-select:nth-child(even){
    background-color: #96c3f5;
}

.innerFacility-seat-time-list>.reservation-time-select>.reservation-seat-select:nth-child(odd){
    background-color: #2dce89;
}

.reservation-seat-select{
    display: inline-flex;
}

.reservation-seat-select, .reservation-time-select{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.reservation-seat-select>h3{
    margin:0 auto;
}

.innerFacility-select{

    width: 80%;
    margin: 0 auto;
}