.testing{
    display: flex;
}

.innerFacility-prev{

}

.innerFacility-next{

}

.reservation-container{
    /*background: linear-gradient(80deg, whitesmoke, white);*/
    background-color: #f4f5f7;
    box-shadow: 0px 0px 5px gray;
    margin-top: -6rem;
    position: relative;
    height: 1000px;
    width: 1420px;
 }
.reservation-main{
    height: 100%;
    text-align: center;
    display: flex;
}

.reservation-main-contents{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.innerFacility-img{
    width: 100%;
    height: 45%;
    /*display: inline-flex;*/
    display: flex;
    align-items: center;
    /*flex-wrap: wrap;*/
}

.innerFacility-img>img{
    margin: 0 auto;
}

/*.innerFacility-img-break{*/
/*    flex-basis: 100%;*/
/*    height: 0%;*/
/*}*/

.innerFacility-seat-time-list{
    /*border: solid 1px #172b4d;*/
    /*box-shadow: 2px 2px 2px;*/
    /*background-color: #11cdef;*/
    margin-top: 2rem;
    height: 45%;
    width: 100%;
}

.innerFacility-seat-time-list>.reservation-time-select{
    height:15%;
    color: black;
    margin-bottom: 2px;
    box-shadow: 0px 0px 5px gray;
}

.innerFacility-seat-time-list>.reservation-time-select:nth-child(even){
    background-color: #96c3f5;
}

.innerFacility-seat-time-list>.reservation-time-select:nth-child(odd){
    background-color: #2dce89;
}

.reservation-seat-select{
    display: inline-flex;
}

.reservation-seat-select>h3{
    margin:0 auto;
}

.innerFacility-select{

    width: 80%;
    margin: 0 auto;
}