.fac-box{
    display: flex;
    margin : 10px auto;
    padding : 15px;
}
.fac-img{
    float:left;
}
.fac-left{
    margin : 0px 20px;
}
.fac-right{
    float:right;
}
.userView-container{
    background-color : #f4f5f7;
    box-shadow: 0px 0px 5px gray;
    margin-top : -6rem;
    position:relative;

}