.termsEdit-container{
    border: 0px solid white;
    /*width: 100%;*/
    /*height: 100%;*/
    position: relative;
    width: 100%;
    height: 1000px;
    margin-top: -10rem;
    background-color: #f4f5f7;
}

.termsEdit-contents{
    width: 100%;
    height: 100%;
    border: 2px solid #172b4d;
    background-color: white;
}
/*background-color: #172b4d;*/
.termsEdit-top{
    float: right;
    margin : 15px;
}

.termsEdit-elements{
    width: 100%;
    height: 80%;
    background-color: white;
    overflow: auto;
}

.termsEdit-elements>.termsEdit-element-header{
    height: 10%;
    width: 100%;
    background-color: white;
}

.termsEdit-elements>.termsEdit-element-body{
    height: 80%;
    width : 100%;
    background-color: white;
    margin-top: 10%;
}

.termsEdit-elements>.termsEdit-element-footer{
    height: 10%;
    width: 100%;
    background-color: white;
}

.termsEdit-element-header-input{
    border: 0px solid white;
    width: 50%;
    resize: none;
    font-weight: bold;
    font-size: xxx-large;
    color: black;
    margin-left: 5%;
}

.termsEdit-element-body-input{
    border: 1px solid black;
    width: 90%;
    height: 50%;
    /**/resize: none;
    background-color: skyblue;
    margin-left: 5%;
    margin-bottom: 5%;
}