.terms-container{
    /*width: 100%;*/
    /*height: 100%;*/
    position: relative;
    width: 100%;
    height: 1000px;
    margin-top: -10rem;
    background-color: #f4f5f7;
}

.terms-contents{
    width: 100%;
    height: 100%;
    border: 2px solid #172b4d;
}
/*background-color: #172b4d;*/
.terms-top{
    float: right;
    margin : 15px;
}

.terms-list{
    width: 100%;
    height: 80%;
    overflow: auto;
}

.terms-paging{
    display: flex;
    width: 12%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top : 10px;
}